<div class="body-container">
  <div class="items">
    <div class="image"><div class="no-img">M</div></div>
    <div class="head-text">
      Marriage Match
      <div class="content">Enter your name and get you match result</div>
    </div>
  </div>

  <div class="items">
    <div class="image"><div class="no-img">C</div></div>
    <div class="head-text">
      Copy Paste
      <div class="content">
        This Project offers you to paste once and copy many times
      </div>
    </div>
  </div>

  <div class="items">
    <div class="image"><div class="no-img">L</div></div>
    <div class="head-text">
      Link in Bio
      <div class="content">
        An Instagram tool to place all your usefull links in your profile bio
      </div>
    </div>
  </div>

  <div class="items">
    <div class="image"><div class="no-img">D</div></div>
    <div class="head-text">
      Digital Menu
      <div class="content">A Menu that dispays on you phone</div>
    </div>
  </div>
</div>
