<div class="head-container">
  <div class="header-tittle">Contents</div>
</div>
<div class="body-container">
  <a href="https://google.com" class="contents">
    <span>1. </span>Introduction .......................................
  </a>
  <a href="https://google.com" class="contents">
    <span>2. </span>My Projects ........................................
  </a>
  <a
    href="https://drive.google.com/file/d/1h8ldUie778m3fGtkpy-7k4Q8gtpEdPfd/view?usp=sharing"
    class="contents"
  >
    <span>3. </span>Resume ..............................................
  </a>
  <a href="https://google.com" class="contents"> <span>4. </span>Contact me .....................................</a>
</div>

<div>
  <app-intro></app-intro>
</div>
